// COLORS
// $ngx-valepro-color-danger: #D11414;
// $ngx-valepro-color-default: #757575;
// $ngx-valepro-color-primary: #F9BE2D;
// $ngx-valepro-color-secondary: #F19600;
// $ngx-valepro-color-terciary: #1B0C3F;

// $ngx-valepro-color-primary-80: #FBD881;
// $ngx-valepro-color-succes: #8DC540;
// $ngx-valepro-color-info: #3bb4d8;
// $ngx-valepro-color-warning: #f0ad4e;
// $ngx-valepro-color-white: #fff;
// $ngx-valepro-color-black: #000;
// $ngx-valepro-color-inputs: #E5E4E9;
// $ngx-valepro-color-before: #9993A9;
// $ngx-valepro-color-table-rows: #F2F1F4;
// $ngx-valepro-color-buton-primary: #1B0C3F;
// $ngx-valepro-color-buton-search: #fff;


// $color: null;
// // CONTAINERS
// $border-radius: 4px;
// $card-background: #FFF;

:root {
  // COLORS
  --color-white: #FFF;
  --color-black: #000;
  --ngx-valepro-color-primary: #1F134B;
  --ngx-valepro-color-secondary: #1A0C3F;
  --ngx-valepro-color-tertiary: #F9BE2D;
  --ngx-valepro-color-background: #1F134B;
  --ngx-valepro-color-secondary40: #1A0C3F66;
  // --ngx-valepro-color-danger: #{$ngx-valepro-color-danger};
  // --ngx-valepro-color-default: #{$ngx-valepro-color-default};
  // --ngx-valepro-color-primary: #{$ngx-valepro-color-primary};
  // --ngx-valepro-color-secondary: #{$ngx-valepro-color-secondary};
  // --ngx-valepro-color-terciary: #{$ngx-valepro-color-terciary};


  // --ngx-valepro-color-buton-search: #{$ngx-valepro-color-buton-search};
  // --ngx-valepro-color-buton-primary: #{$ngx-valepro-color-buton-primary};
  // --ngx-valepro-color-primary-80: #{$ngx-valepro-color-primary-80};

  // --ngx-valepro-color-success: #{$ngx-valepro-color-succes};
  // --ngx-valepro-color-info: #{$ngx-valepro-color-info};
  // --ngx-valepro-color-warning: #{$ngx-valepro-color-warning};

  // --ngx-valepro-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // --ngx-valepro-color-inputs: #{$ngx-valepro-color-inputs};
  // --ngx-valepro-color-blanco: #{$ngx-valepro-color-white};
  // --ngx-valepro-color-negro: #{$ngx-valepro-color-black};
  // --ngx-valepro-color-before: #{$ngx-valepro-color-before};
  // --ngx-valepro-color-table-rows: #{$ngx-valepro-color-table-rows};

  // CONTAINERS
  // --ngx-valepro-border-radius: 4px;
  // --ngx-valepro-card-background: #FFF;
  //IMAGES/Users/edissonfuquene/Documents/Repos/ValefielPro/src/assets/img/welcome.jpg


}
