
.confirmAward {
  height: 400px;
  padding: 24px;

  &__close {
    display: flex;
    justify-content: flex-end;
  }

  &__iconClose {
    color: var(--ngx-valepro-color-tertiary);
    cursor: pointer;
  }

  &__contain{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__messagge {
    text-align: center;
  }

  &__containBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content:space-around;
    align-items: center;
  }

  &__btnConfirm{
    width: 260px;
    height: 44px;
    border-radius: 22px;
    border: 2px var(--ngx-valepro-color-tertiary) solid;
    background-color: var(--ngx-valepro-color-tertiary);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btnUpdate{
    width: 260px;
    height: 44px;
    border-radius: 22px;
    border: 2px var(--ngx-valepro-color-tertiary) solid;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__containOperator {
    margin-top: 32px;
    position: relative;
  }

  &__operators {
    width: 100%;
    margin-top: 8px;

  }

  &__error {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: red;

  }

  &__textSelect {
    color: var(--ngx-valepro-color-secondary) !important;
  }

  &__spaceBtn {
    margin-top: 32px;
  }

}



@media screen and (min-width: 768px) {
  .confirmAward {
   padding: 28px;

   &__containBtn {
    flex-direction: row;
    margin-top: unset;
   }
  }
}



