<div class="confirmAward">
  <div class="confirmAward__close">
    <mat-icon class="confirmAward__iconClose" (click)="closeDialog()">close</mat-icon>
  </div>
  <div class="confirmAward__contain">
    <span class="regular-16 primary confirmAward__messagge">{{data.message}}</span>
    <div *ngIf="data.typeAward === 6" class="confirmAward__containOperator">
      <span class="bold-12 primary" >Selecciona el operador del número de celular</span>
      <mat-form-field class="confirmAward__operators">
        <mat-label [ngStyle]="{ color: !isvalid ? 'red' : '' }">Operador</mat-label>
        <mat-select [(ngModel)]="selectedOperatorCodeId" (selectionChange)="onChange()" class="regular-16 confirmAward__textSelect">
          <mat-option *ngFor="let operator of operators" [value]="operator.CodeId">
            <span class="regular-16 primary">{{operator.Text}}</span> 
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span *ngIf="!isvalid" class="confirmAward__error regular-12">* Campo obligatorio</span>
    </div>
    <div class="confirmAward__containBtn" [ngClass]="{confirmAward__spaceBtn: data.typeAward !== 6}">
      <div class="confirmAward__btnConfirm" type="button" (click)="goConfirm()">
        <span class="bold-16 primary">Confirmar</span>
      </div>
      <div class="confirmAward__btnUpdate" type="button" (click)="goUpdateData()">
        <span class="bold-16 primary">Actualizar datos</span>
      </div>
    </div>
  </div>
</div>